name: Scala Center Steward

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  steward:
    runs-on: ubuntu-latest
    name: Scala Center Steward
    steps:
      - uses: actions/checkout@v3
      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.SCALA_STEWARD_APP_ID }}
          private_key: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}

      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          repos-file: 'repos.md'
          author-email: 111975575+scala-center-steward[bot]@users.noreply.github.com
          author-name: scala-center-steward[bot]
